%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css'}
  %body
    %form{:method => 'post', :action => 'videoplayer'}
      %input{:type => 'submit', :value => 'play/pause', :name => 'playpause', :title => "Play/Pause"}
      %input{:type => 'submit', :value => 'fullscreen', :name => 'fullscreen', :title => "Fullscreen"}
      %input{:type => 'submit', :value => 'stop', :name => 'stop', :title => "Stop"}
    -@videos.each do |video|
      %form{:method => 'post', :action => 'videoplayer'}
        %input{:type => 'submit', :value => %x{pwd}.rstrip + '/' + video, :name => 'play_file', :title => "play file"}
